<md-content class="full-height y-scroll" layout-padding>

  <table>
    <thead>
    <tr>
      <td ng-click="sort = sort == '' ? '-id' : '' " ng-class="{'sort': sort == '' ,'sort sort-up':sort == '-id'}">Lp
      </td>
      <td ng-click="sort = sort == 'date' ? '-date' : 'date'"
          ng-class="{'sort': sort == 'date' ,'sort sort-up':sort == '-date' }">Data sprzedaży
      </td>
      <td ng-click="sort = sort == 'name' ? '-name' : 'name'"
          ng-class="{'sort': sort == 'name' ,'sort sort-up':sort == '-name' }">Usługobiorca
      </td>
      <td ng-click="sort = sort == 'cash' ? '-cash' : 'cash'"
          ng-class="{'sort': sort == 'cash' ,'sort sort-up':sort == '-cash' }">Kwota
      </td>
      <td>Completed</td>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat-start="income in incomes | orderBy: sort | filter: hideCompleted | filter: filterName | filter: searchDate  | filter: searchMonth"
        ng-class="{selected: income.completed, edited: income.edit}"
        ng-click="income.edit = !income.completed ? !income.edit : income.edit ">
      <td>{{incomes.indexOf(income) + 1}}</td>
      <td>
        <span> {{ income.date | date: 'dd-MM-yyyy' }} </span>
      </td>
      <td>{{ income.name }}</td>
      <td>{{ (income.cash | number:2 ) + ' zł'}}</td>
      <td layout-align="center center">
        <md-checkbox ng-model="income.completed"
                     aria-label="Checkbox 1"
                     ng-click="$event.stopPropagation();">
        </md-checkbox>
      </td>
    </tr>
    <tr class="edit-panel" ng-repeat-end>
      <td colspan="5">
        <div class="edit-panel-wrapper"
             layout
             layout-align="space-around center"
             ng-class="{active: income.edit}">

          <md-input-container>
            <label>Date</label>
            <md-datepicker ng-model="income.date"
                           md-placeholder="Enter date">
            </md-datepicker>
          </md-input-container>

          <md-input-container>
            <label>Name</label>
            <input ng-model="income.name" type="text">
          </md-input-container>

          <md-input-container >
            <label>Cash</label>
            <input ng-model="income.cash" type="number">
          </md-input-container>

          <md-input-container>
            <md-button class="md-raised md-primary"
                       ng-click="delete(income.id)">
              DELETE
            </md-button>
          </md-input-container>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="5">
        <div>
          <md-button class="md-raised md-primary" ng-if="!incomes.add" ng-click="incomes.add = !incomes.add">
            Add Record
          </md-button>
          <div ng-if="incomes.add" layout layout-align="space-between center">

            <md-input-container>
              <label>Date</label>
              <md-datepicker ng-model="newDate"
                             md-placeholder="Enter date">
              </md-datepicker>
            </md-input-container>

            <md-input-container >
              <label>Name</label>
              <input ng-model="newName" >
            </md-input-container>

            <md-input-container >
              <label>Cash</label>
              <input ng-model="newCash" >
            </md-input-container>

            <md-input-container>
              <md-button class="md-raised md-primary"
                         ng-click="addRecord(newName, newDate, newCash); incomes.add = !incomes.add" >
                Add Record
              </md-button>
            </md-input-container>
            <md-input-container>
              <md-button class="md-raised md-accent"
                         ng-click="incomes.add = !incomes.add" >
                Cancel
              </md-button>
            </md-input-container>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

</md-content>

<div class="bottom-toolbar text-white"
     layout
     layout-align="center center">
  <span class="md-title">Income:&nbsp;&nbsp;&nbsp;</span>
  <span class="md-title"> {{ cashSum() }}</span>
</div>
